* @hmcts/platform-operations @hmcts/sds-community-maintained-software

# Ignore files updated by Renovate
gradle/wrapper/gradle-wrapper.properties
Dockerfile
build.gradle
charts/**/Chart.yaml
.github/workflows/*.yaml
