<?xml version="1.0" encoding="UTF-8"?>
<!-- This is a configuration file used by CNP environment. Remove it if you don't deploy to CNP. -->
<!-- Make sure the jar file in httpPlatform has the right name. -->
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%HOME%\LogFiles\stdout"
                  arguments="-Djava.net.preferIPv4Stack=true -Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;%HOME%\site\wwwroot\spring-boot-template.jar&quot;">
    </httpPlatform>
  </system.webServer>
</configuration>
